.customCard {
  max-width: 500px;
  min-width: 300px;
  width: 50%;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #fff;

  &_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      padding: 4px;
      border-radius: 25px;
      color: white;
      background-color: #0070f3;
      font-weight: bold;
      font-size: 16px;
    }
  }

  &_body {
    margin-top: 12px;

    p {
      margin: 8px 0;

      span {
        font-weight: 600;
      }
    }
  }

  &_footer {
    padding-top: 16px;
    border-top: 1px solid #e8e8e8;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
  }
}
